.dash-lines-icon {
  position: absolute;
  top: 905px;
  left: 116px;
  width: 1280px;
  height: 4205px;
  object-fit: cover;
  opacity: 0.3;
}
.main-body {
  position: relative;
  background-color: var(--color-black);
  height: 5198px;
  width: 100%;
  opacity: 0.75;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-jetbrains-mono);
}
/*Navigation Section*/
.nav-section {
  position: relative;
  top: 30px;
  width: 100%;
  height: 75px;
  color: var(--color-black);
}
/*Home Section*/

/*About Me Section*/
/*Skills Section*/
/*Projects Section*/
/*Contact Section*/

/*Socials Section*/
.back-follow-me {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--color-black);
  width: 100%;
  height: 127px;
}
.appreciations-button {
  position: absolute;
  top: 36px;
  left: 38px;
  border-radius: var(--br-31xl);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 185px;
  height: 55px;
}
.appreciations {
  position: absolute;
  top: 53px;
  left: 65px;
  letter-spacing: 0.1em;
}
/*TODO: Fix the socials buttons*/
.follow-me-section {
  position: absolute;
  top: 4967px;
  left: 123px;
  width: 1280px;
  height: 127px;
  font-size: var(--font-size-lg);
  font-family: var(--font-keania-one);
}
.back-contact-me,
.send-button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--color-darkslategray-200);
  width: 1280px;
  height: 513px;
}
.send-button {
  top: 429px;
  left: 548px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  width: 185px;
  height: 55px;
}
.send {
  position: absolute;
  top: 446px;
  left: 618px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.1em;
  font-family: var(--font-keania-one);
}
.lets-connect {
  position: absolute;
  top: 39.9px;
  left: 395px;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.3em;
  font-weight: 800;
  color: var(--color-white);
  display: inline-block;
  width: 492px;
  height: 72.9px;
}
.contact-me-section-child,
.contact-me-section-inner,
.contact-me-section-item {
  position: absolute;
  top: 144px;
  left: 110px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  width: 410px;
  height: 58px;
}
.contact-me-section-inner,
.contact-me-section-item {
  top: 259px;
  width: 1060px;
  height: 142px;
}
.contact-me-section-inner {
  top: 144px;
  left: 760px;
  width: 410px;
  height: 58px;
}
.name {
  position: absolute;
  top: 120px;
  left: 130px;
  color: var(--color-white);
}
.enter-email,
.enter-message,
.enter-name {
  position: absolute;
  top: 160px;
  left: 130px;
  opacity: 0.4;
}
.enter-email,
.enter-message {
  left: 780px;
}
.enter-message {
  top: 286px;
  left: 130px;
}
.email,
.message {
  position: absolute;
  top: 118px;
  left: 787px;
  color: var(--color-white);
}
.message {
  top: 231px;
  left: 130px;
}
.contact-me-section {
  position: absolute;
  top: 4426px;
  left: 116px;
  width: 1280px;
  height: 513px;
  color: var(--color-black);
}
.contact-me-tab {
  position: absolute;
  top: 0;
  left: 489px;
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-darkslategray-200);
  width: 110px;
  height: 51px;
}
.contact {
  left: 502px;
}
.about-me,
.contact,
.home,
.projects,
.skills {
  position: absolute;
  top: 16px;
  font-weight: 800;
}
.projects {
  left: 366px;
  color: #f3efef;
}
.about-me,
.home,
.skills {
  left: 248px;
}
.about-me,
.home {
  left: 106px;
}
.home {
  left: 0;
}
.back-project,
.nav-section-4 {
  position: absolute;
  top: 4375px;
  left: 797px;
  width: 599px;
  height: 51px;
}
.back-project {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--color-darkslategray-100);
  width: 1280px;
  height: 1752px;
}
.programming-button {
  position: absolute;
  top: 1582px;
  left: 790px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  width: 185px;
  height: 55px;
}
.view-projects {
  position: absolute;
  top: 1598px;
  left: 816px;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 133px;
  height: 23px;
}
.arts-and-designs,
.description {
  position: absolute;
  left: 650px;
  letter-spacing: 0.1em;
}
.description {
  top: 1319px;
  font-size: var(--font-size-xl);
  color: var(--color-silver);
  display: inline-block;
  width: 501px;
  height: 263px;
}
.arts-and-designs {
  top: 1261px;
  font-size: var(--font-size-21xl);
  text-align: center;
  text-shadow: 3px 0 0#fff, 0 3px 0#fff, -3px 0 0#fff, 0-3px 0#fff;
}
.character-design-logo,
.programming-button1 {
  position: absolute;
  background-color: var(--color-gainsboro);
}
.character-design-logo {
  top: 1261px;
  left: 110px;
  border-radius: 50%;
  width: 360px;
  height: 360px;
}
.programming-button1 {
  top: 1036px;
  left: 266px;
  border-radius: var(--br-31xl);
  width: 185px;
  height: 55px;
}
.view-projects1 {
  position: absolute;
  top: 1052px;
  left: 292px;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 133px;
  height: 23px;
}
.description1,
.programming {
  position: absolute;
  left: 130px;
  letter-spacing: 0.1em;
}
.description1 {
  top: 773px;
  font-size: var(--font-size-xl);
  color: var(--color-silver);
  display: inline-block;
  width: 501px;
  height: 263px;
}
.programming {
  top: 706px;
  font-size: var(--font-size-21xl);
  text-align: center;
  text-shadow: 3px 0 0#fff, 0 3px 0#fff, -3px 0 0#fff, 0-3px 0#fff;
}
.engineering-button,
.programming-logo {
  position: absolute;
  background-color: var(--color-gainsboro);
}
.programming-logo {
  top: 746px;
  left: 810px;
  border-radius: 50%;
  width: 360px;
  height: 360px;
}
.engineering-button {
  top: 469px;
  left: 793px;
  border-radius: var(--br-31xl);
  width: 185px;
  height: 55px;
}
.view-projects2 {
  top: 485px;
  left: 819px;
  display: inline-block;
  width: 133px;
  height: 23px;
}
.description2,
.engineering,
.view-projects2 {
  position: absolute;
  letter-spacing: 0.1em;
}
.description2 {
  top: 271px;
  left: 649px;
  font-size: var(--font-size-xl);
  color: var(--color-silver);
  display: inline-block;
  width: 501px;
  height: 167px;
}
.engineering {
  top: 213px;
  left: 650px;
  font-size: var(--font-size-21xl);
  text-align: center;
  text-shadow: 3px 0 0#fff, 0 3px 0#fff, -3px 0 0#fff, 0-3px 0#fff;
}
.engineering-logo {
  position: absolute;
  top: 231px;
  left: 110px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 360px;
  height: 360px;
}
.projects1 {
  position: absolute;
  top: 59px;
  left: 520px;
  font-size: var(--font-size-41xl);
  letter-spacing: 0.1em;
  color: var(--color-white);
  text-align: center;
}
.project-section {
  position: absolute;
  top: 2610px;
  left: 116px;
  width: 1280px;
  height: 1752px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-keania-one);
}
.contact1 {
  position: absolute;
  top: 15px;
  left: 502px;
  font-weight: 800;
}
.projects2 {
  position: absolute;
  top: 0;
  left: 359px;
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-darkslategray-100);
  width: 110px;
  height: 51px;
}
.about-me1,
.projects3,
.skills1 {
  position: absolute;
  top: 15px;
  left: 366px;
}
.about-me1,
.skills1 {
  left: 248px;
  font-weight: 800;
}
.about-me1 {
  left: 106px;
}
.nav-section-3 {
  position: absolute;
  top: 2559px;
  left: 797px;
  width: 599px;
  height: 51px;
}
.back-skills,
.button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--color-seagreen);
  width: 1280px;
  height: 772px;
}
.button {
  top: 584px;
  left: 500px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  width: 280px;
  height: 69px;
}
.description3 {
  top: 198px;
  left: 703px;
  display: inline-block;
  width: 444px;
  height: 455px;
}
.description3,
.description4,
.skills-and-learnings {
  position: absolute;
  letter-spacing: 0.1em;
}
.description4 {
  top: 198px;
  left: 130px;
  display: inline-block;
  width: 443px;
  height: 455px;
}
.skills-and-learnings {
  top: 71px;
  left: 327px;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
  text-align: center;
}
.lets-explore {
  position: absolute;
  top: 604px;
  left: 580px;
  font-size: 24px;
}
.skills-and-knowledge-section {
  position: absolute;
  top: 1775px;
  left: 116px;
  width: 1280px;
  height: 772px;
  color: var(--color-black);
  font-family: var(--font-keania-one);
}
.skills-and-knowledge-tab {
  position: absolute;
  top: 0;
  left: 229px;
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-seagreen);
  width: 110px;
  height: 51px;
}
.home2,
.skills2 {
  position: absolute;
  top: 15px;
}
.skills2 {
  left: 248px;
  color: var(--color-black);
}
.home2 {
  left: 0;
  font-weight: 800;
}
.back-about-me,
.nav-section-2 {
  position: absolute;
  top: 1724px;
  left: 797px;
  width: 599px;
  height: 51px;
}
.back-about-me {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--color-mediumaquamarine);
  width: 1280px;
  height: 772px;
}
.self-picture {
  position: absolute;
  top: 183px;
  left: 780px;
  border-radius: 20px;
  background-color: var(--color-gainsboro);
  width: 370px;
  height: 487px;
}
.lorem-ipsum-dolor {
  margin: 0;
}
.about-me3,
.description5 {
  position: absolute;
  letter-spacing: 0.1em;
}
.description5 {
  top: 215px;
  left: 110px;
  display: inline-block;
  width: 540px;
  height: 455px;
}
.about-me3 {
  top: 110px;
  left: 171px;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
  text-align: center;
}
.about-me-section {
  position: absolute;
  top: 940px;
  left: 116px;
  width: 1280px;
  height: 772px;
  color: var(--color-black);
  font-family: var(--font-keania-one);
}
.projects7 {
  position: absolute;
  top: 16px;
  left: 366px;
}
.skills-and-knowledge-tab1 {
  position: absolute;
  top: 1px;
  left: 229px;
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-seagreen);
  width: 110px;
  height: 51px;
}
.skills3 {
  position: absolute;
  top: 16px;
  left: 248px;
  color: var(--color-black);
}
.about-me-tab {
  position: absolute;
  top: 0;
  left: 99px;
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-mediumaquamarine);
  width: 110px;
  height: 51px;
}
.about-me4 {
  position: absolute;
  top: 16px;
  left: 106px;
  color: var(--color-black);
}
.nav-section-1 {
  position: absolute;
  top: 889px;
  left: 797px;
  width: 599px;
  height: 52px;
}
.back-home,
.contact-me-tab4,
.home-section {
  position: absolute;
  width: 100%;
  height: 772px;
}
.back-home {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--color-aquamarine);
}
.contact-me-tab4,
.home-section {
  top: 105px;
  left: 116px;
}
.contact-me-tab4 {
  top: 26px;
  left: 1142px;
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-darkslategray-200);
  width: 110px;
  height: 49px;
}
.contact4 {
  position: absolute;
  top: 42px;
  left: 1155px;
  font-weight: 800;
  color: var(--color-white);
}
.projects8 {
  position: absolute;
  top: 24px;
  left: 1012px;
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-darkslategray-100);
  width: 110px;
  height: 51px;
}
.projects9 {
  position: absolute;
  top: 42px;
  left: 1019px;
  color: var(--color-white);
}
.skills-and-knowledge-tab2 {
  position: absolute;
  top: 24px;
  left: 882px;
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-seagreen);
  width: 110px;
  height: 51px;
}
.about-me-tab1,
.skills4 {
  position: absolute;
  top: 42px;
  left: 901px;
}
.about-me-tab1 {
  top: 24px;
  left: 752px;
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-mediumaquamarine);
  width: 110px;
  height: 51px;
}
.about-me5,
.home-tab {
  position: absolute;
  top: 42px;
  left: 759px;
}
.home-tab {
  top: 24px;
  left: 622px;
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-aquamarine);
  width: 110px;
  height: 51px;
}

.home4 {
  position: absolute;
  top: 42px;
  left: 653px;
}
.alitronics {
  top: 0;
  left: 0;
  font-size: 32px;
  letter-spacing: 0.1em;
  font-weight: 800;
  color: transparent;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #fff;
}
